.admin-wrap {
  position: relative;

  .header{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #001529;
  }

  .contend-wrap {
    padding: 20px;
    background: #f1f3f5;

    .contend {
      background: #fff;
      border-radius: 5px;
      padding: 20px;
    }
  }
}

